body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Trebuchet MS"
}

html {
  height: 100%;
}

.keyboardContainer {
  display: grid;
  height: 500px;
  width: 850px;
  grid-template-columns: 10% 23% auto 23% 10%;
  grid-template-rows: 20% 20% 20% auto;
  border: 10px solid rgb(100, 100, 100);
  border-bottom: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(36, 33, 33), rgb(131, 122, 118));

}

#visualizer {
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center stretch;
  border: 1px solid black;
}

.inputSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: rgb(36, 55, 116);
  opacity: .7;
}

.inputSlider:hover {
  border: .5px solid rgb(185, 28, 0);
  opacity: 1;
}

.inputSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgb(9, 169, 243);
  cursor: pointer;
}

.inputSlider::-moz-range-thumb {
  cursor: pointer;
  border: 2px solid black;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
}

.inputSlider:focus {
  outline-style:none;
  box-shadow:none;
  border: .5px solid rgb(185, 28, 0);
}

.masterVolumeContainer {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  place-self: center;
  width: 200px;
  height: 5px;
  transform: rotate(-90deg);
}

.octaveContainer {
  width: 150px;
  height: 5px;
  place-self: center;
  transform: rotate(-90deg);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.oscControls {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.filterControls {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;          
}

.oscInputSlider {
  margin-top: 15px;
}

.filterInputSlider {
  margin-top: 15px;
}

.dropdown {
  cursor: pointer;
}
.dropdownContent {
  cursor: pointer;
  position: absolute;
  transform: translateY(25px);
  display: none;
}
.dropdownItem:hover {
  border: 1px solid red;
  width: 100%;
}

#osc1Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#osc2Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#osc3Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#filter1Controls {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#filter2Controls {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#envelopeControls {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-self: center;
  align-items: center;
  height: 70%;
}

#envelopeSliderContainer {
  transform: rotate(-90deg);
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.selectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  background: black;
  padding: 4px;
  margin: 4px;
  font-size: 13px;
}

.selectButton:hover {
  cursor: pointer;
}

.buttonSelected {
  background-image: radial-gradient(rgb(253, 180, 43), rgb(146, 97, 6));
  color: black;
  border: 1px solid orange;
}

.keyboard {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  position: relative;
  display: flex;
}

.blackKey {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 2;
  height: 60%;
  width: 60%;
  bottom: 40%;
  cursor: pointer;
  left: 50%;
}

.whiteKey {
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  height: 100%;
  width: 14.285%;
  border: 1px solid gray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.key:hover {}

.show {
  display: flex;
  flex-direction: column;
  align-items:center;
  z-index: 3;
  background-color: black;
  opacity: .7;
  padding: 5px;
  padding-top: none;
}

.effectsControls {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}

.effectsModules {
  display: flex;
}

.distortionControls {
  margin: 5px;
}

.reverbControls {
  margin: 5px;
}

.lfoControls {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;  
  align-items: center;
}

.lfoButtons {
  position: relative;
  left: 27%;
}

.lfoSliders {
  transform: translateX(-20px) rotate(-90deg);
  position: absolute;
  width: 90px;
}