body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgba(238, 229, 233, 1);
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Trebuchet MS";
  font-weight: lighter;
}

@font-face {
  font-family: "Efesto";
  src: url('./assets/Efesto-Regular.woff');
}

header {
  margin-bottom: 20px;
  font-size: 75px;
  font-family: "Efesto";
  color: rgba(204, 41, 54, 1);
}

.mainContainer {
  display: flex;
  align-items: center;
}

.textBox {
  border: 3px solid rgba(107, 129, 140, .7);
  padding: 7px;
  margin: 7px;
  height: 70%;
  width: 165px;
  background-color: rgba(238, 229, 233, .7);;
  overflow: scroll;
  color: black;
  font-size: 15px;
  font-family: "Arial";
  line-height: 150%;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

html {
  height: 100%;
}

.keyboardContainer {
  display: grid;
  height: 500px;
  width: 850px;
  grid-template-columns: 10% 23% auto 23% 10%;
  grid-template-rows: 23% 23% 23% auto;
  border: 10px solid rgba(107, 129, 140, 1);
  border-bottom: none;
  border-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(6, 47, 66), rgba(8, 65, 92, 1));
}

.controlModule {
  border: 2px solid rgba(204, 41, 54, .8);
  box-sizing: border-box;
}

#osc1Controls {
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 5px;
}

#osc2Controls {
  border-bottom: none;
  border-right: none;
}

#filter1Controls {
  border-bottom: none;
  border-top-right-radius: 5px;
}

#filter2Controls {
  border-bottom: none;
}

#osc3Controls {
  border-bottom-left-radius: 5px;
  border-right: none;
}

#effectsControls {
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 5px;
}

#lfoControls {
  border-right: none;
  border-bottom: none;
}

#envelopeControls {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


#visualizer {
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 10px;
  place-self: center stretch;
  border: 1px solid black;
}

.inputSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgba(241, 191, 152, 1);
  opacity: .7;
  transition: all .2s;
}

.inputSlider:hover {
  border: 2px solid rgba(204, 41, 54, 1);
  opacity: 1;
}

.inputSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border: 2px solid black;
  border-radius: 50%;
  background: rgba(107, 129, 140, 1);
  cursor: pointer;
  transition: all .2s;
}

.inputSlider::-webkit-slider-thumb:hover {
  border: 2px solid rgba(204, 41, 54, 1);
}

.inputSlider::-moz-range-thumb {
  cursor: pointer;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background: rgba(107, 129, 140, 1);
  border-radius: 50%;
  transition: all .2s;
}

.inputSlider::-moz-range-thumb:hover {
  border: 2px solid rgba(204, 41, 54, 1);
}

.inputSlider:focus {
  outline-style:none;
  box-shadow:none;
  border: 2px solid rgba(204, 41, 54, 1);
}

.masterVolumeContainer {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  place-self: center;
  width: 200px;
  height: 5px;
  transform: rotate(-90deg);
}

.octaveContainer {
  width: 100px;
  height: 5px;
  place-self: center;
  transform: rotate(-90deg);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.oscControls {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.filterControls {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;          
}

.oscInputSlider {
  margin-top: 10px;
}

.filterInputSlider {
  margin-top: 5px;
}

.dropdownContent {
  cursor: pointer;
  position: absolute;
  transform: translateY(25px);
  overflow: hidden;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items:center;
  z-index: 3;
  background-color: rgba(107, 129, 140, 1);
  opacity: .9;
  padding-top: none;
  width: auto;
  transition: height .2s;
  top: 20px;
  border-radius: 4px;
}
.dropdownItem {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all .8s;
}
.dropdownItem:hover {
  background-color: rgba(204, 41, 54, 1);
}

.filterDropdown {
  transform: translateY(20px);
}
#osc1Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#osc2Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#osc3Controls {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#filter1Controls {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#filter2Controls {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#envelopeControls {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}

#envelopeSliderContainer {
  transform: rotate(-90deg);
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.envelopeAmmt {
  width: 50px;
}

.selectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
  padding: 4px;
  margin: 4px;
  font-size: 13px;
  transition: background .3s;
}

.selectButton:hover {
  cursor: pointer;
  background: rgb(44, 54, 59); 
}

.buttonSelected {
  background-image: radial-gradient(rgb(255, 59, 75), rgb(104, 36, 41));
  border: 2px solid rgb(95, 30, 34);
  opacity: 1;
  transition: opacity .2s;
}

.buttonSelected:hover {
  background-image: radial-gradient(rgb(255, 59, 75), rgb(104, 36, 41));
  opacity: .8;
}

.dropdownSelect {
  width: 60px;
  background: rgba(107, 129, 140, 1);
  color: black;
  border: 2px solid black;
}

.dropdownSelect:hover {
  background: rgb(129, 160, 175)
}

.keyboard {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  position: relative;
  display: flex;
}

.key {
  transition: all .3s;
  border: 1px solid gray;
}

.whiteKey {
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 300%;
  background-color: rgba(238, 229, 233, 1);
  height: 100%;
  width: 14.285%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.keyHover {
  background: rgb(182, 173, 177);
}

.blackKey {
  color: rgba(238, 229, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: absolute;
  z-index: 2;
  top: 0%;
  height: 60%;
  width: 40px;
  transform: translateX(35px);
  cursor: pointer;
}

.blackKey:hover {
  background: rgb(46, 46, 46);
}

.keyPressed {
  background: rgb(108, 137, 177);
}

.keyPressed:hover {
  background: rgb(108, 137, 177);
}

.showOsc {
  height: 97px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.showFilter {
  height: 73px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.effectsControls {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

#effectsMix {
  width: 87%;
}

.effectsModules {
  display: flex;
}

.distortionControls {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reverbControls {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lfoControls {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
}

.lfoButtons {
  position: relative;
  left: 27%;
}

.lfoSliders {
  transform: translateX(-20px) rotate(-90deg);
  position: absolute;
  width: 90px;
}

#visualizer2 {
  position: absolute;
  z-index: -5;
}

.links {
  display: flex;
  height: auto;
  margin-top: 20px;
  width: auto;
}

.imageLink {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  opacity: .7;
  transition: opacity .2s;
}

.imageLink:hover {
  opacity: 1;
}
